.app {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto;
  width: auto;
  height: auto;
  overflow: hidden;
}

.card {
  padding: 5px;
  width: auto;
  height: auto;
  overflow:hidden;
  display: block;
}
.result > .card {
  padding: 0 8px;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: auto;
  display: block;
  align-items: center;
  justify-content: space-between;
}

/* LightBox Content */
.lightboxContent{
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prevButton,
.nextButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
}

/* Position the "next button" to the right */
.nextButton {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the right */
.prevButton {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevButton:hover,
.nextButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
